ul.bayut-menu {
    border-bottom: none;

    li {
        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 34.2px;
        }
    }
}